<!-- <b> Indica que el texto debe ser representado con una variable bold, o negrita, de la tipografía que se esté usando.-->
<!-- <br> Este elemento produce un salto de línea en el texto.-->
<!-- <cite> Marca una referencia a una fuente, o el autor de un texto citado.-->
<!-- <dfn> Sirve para marcar el término que se quiere definir.-->
<!-- <em> Este elemento es el apropiado para marcar con énfasis las partes importantes de un texto.-->
<!-- <i> Muestra el texto marcado con un estilo en cursiva o italica.-->
<!-- <q> El elemento q permite a los autores insertar citas en forma de líneas cortas de texto.-->
<!-- <small> Este elemento sirve para indicar que se trata de información secundaria, es decir lo que se suele llamar letra pequeña.-->
<!-- <time> El elemento time representa fechas, horas, desplazamientos de zonas horarias y duraciones. -->

<article>
    <header>
        <p>posted by BGB, <time>November 15, 2012</time></p>
    </header>
    <h1>Low and Slow</h1>
    <p>This week I am <em>extremely</em> excited about a new cooking technique called <i>sous vide</i>. In <dfn>sous vide cooking</dfn>, you submerge the food (usually vacuum-sealed in plastic) into a water bath that is precisely set to the target temperature you want the food to be cooked to. In his book, <cite>Cooking for Geeks</cite>, Jeff Potter describes it as <q>ultra-low-temperature poaching</q>.</p>
    <p>Next month, we will be serving Sous Vide <b>Salmon with Dill Hollandaise.</b> To reserve a seat at the chef table, contact us before November 30.</p>
    <p>blackgoose@example.com <br>555-336-1800</p>
    <p> <small>Warning: Sous vide cooked salmon is not pasteurized. Avoid it if you are pregnant or have immunity issues.</small></p>
</article>